body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: coral;
}

.hero-section {
  @include breakpoint_min('desktop_sm') {
    min-height: calc(100vh - 6rem) !important;
  }
}

input[type="checkbox"]:checked + .checkbox-label {
  background-image: url("https://uploads-ssl.webflow.com/5f3275690eca62490835bf15/5f3d0a054ba9ef8b2713495e_check-box.svg");
}

.w--current .hover-line {
  transform: none !important;
}

.cms-item:nth-child(3n+3) .cms-vertical-line {
  display: none;
} 
 