body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-section, .section-hero-editorial-navbar {
  @include breakpoint_min('desktop_sm') {
    height: calc(100vh) !important;
    padding-top: 6rem;
    margin-top: -6rem;
    background: white;
  }
}

.instagram .instagram-card:nth-child(odd) {
  margin-top: 1.7rem;
}

.back-to-top-compass {
  transform: rotateZ(45deg);
  transition: transform .3s ease;

  &:hover {
    transform: rotateZ(0deg);
  }
}

input[type="checkbox"]:checked + .checkbox-label {
  background-image: url("https://uploads-ssl.webflow.com/5f3275690eca62490835bf15/5f3d0a054ba9ef8b2713495e_check-box.svg");
}

.w--current .hover-line {
  transform: none !important;
}

.cms-item:nth-child(3n+3) .cms-vertical-line, .cms-item:last-child .cms-vertical-line {
  display: none;
} 

.verse-reference {
  text-align: right;
  font-size: .8rem;
  font-family: 'Roboto Condensed',sans-serif;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}


// #cookiescript_bottompart {
//   display: none !important;
// }

// #cookiescript_accept {
//   background: #cb9274 !important;
// }

// #cookiescript_injected {
//   background: #232323 !important;
// }